{%- style -%}
  .testimonials-{{ section.id }} {
    background-color: {{ section.settings.color_background }};
    color: {{ section.settings.color_text }};
  }
}
{%- endstyle -%}

<div
  class="text-center testimonials-section testimonials-{{ section.id }}{% if section.settings.color_background == settings.color_body_bg %} testimonials-section--with-divider{% endif %}"
  data-section-id="{{ section.id }}"
  data-section-type="testimonials"
  data-aos>
  {%- if section.settings.title != blank -%}
    <div class="page-width">
      <div class="section-header">
        <h2>{{ section.settings.title | escape }}</h2>
      </div>
    </div>
  {%- endif -%}

  {%- if section.blocks.size > 0 -%}
    <div class="slideshow-wrapper">
      <div class="testimonials-slider" id="Testimonials-{{ section.id }}" data-count="{{ section.blocks.size }}">
        {%- for block in section.blocks -%}
          <div
            class="testimonials-slide testimonials-slide--{{ block.id }}"
            data-index="{{ forloop.index0 }}"
            {{ block.shopify_attributes }}>
            <blockquote class="testimonials-slider__text">

              {%- if block.settings.icon == 'quote' -%}
                <span class="quote-icon"><svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-quote" viewBox="0 0 41 35"><path d="M10.208 17.711h6.124v16.332H0V21.684C0 8.184 5.444.956 16.332 0v6.125c-4.083 1.14-6.124 4.414-6.124 9.82v1.766zm24.498 0h6.124v16.332H24.498V21.684C24.498 8.184 29.942.956 40.83 0v6.125c-4.083 1.14-6.124 4.414-6.124 9.82v1.766z" fill="#000" fill-rule="evenodd"/></svg></span>
              {%- elsif block.settings.icon == '5-stars' -%}
                <span class="testimonial-stars">★★★★★</span>
              {%- elsif block.settings.icon == '4-stars' -%}
                <span class="testimonial-stars">★★★★</span>
              {%- elsif block.settings.icon == '3-stars' -%}
                <span class="testimonial-stars">★★★</span>
              {%- elsif block.settings.icon == '2-stars' -%}
                <span class="testimonial-stars">★★</span>
              {%- elsif block.settings.icon == '1-star' -%}
                <span class="testimonial-stars">★</span>
              {%- endif -%}

              {%- if block.settings.testimonial != blank -%}
                <div class="rte-setting text-spacing">{{ block.settings.testimonial }}</div>
              {%- endif -%}

              {%- if block.settings.image != blank or block.settings.author != blank or block.settings.author_info != blank -%}
                <div class="testimonial-meta">
                  {%- if block.settings.image != blank -%}
                    <div
                      class="image-wrap testimonail-image{% if section.settings.round_images %} testimonail-image--round{% endif %}">
                      {%- assign img_url = block.settings.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
                      <img class="lazyload"
                          data-src="{{ img_url }}"
                          data-widths="[180, 360, 540, 720]"
                          data-aspectratio="{{ block.settings.image.aspect_ratio }}"
                          data-sizes="auto"
                          alt="{{ block.settings.image.alt }}">
                    </div>
                  {%- endif -%}
                  {%- if block.settings.author != blank -%}
                    <cite>{{ block.settings.author | escape }}</cite>
                  {%- endif -%}
                  {%- if block.settings.author_info != blank -%}
                    <p>{{ block.settings.author_info | escape }}</p>
                  {%- endif -%}
                </div>
              {%- endif -%}

            </blockquote>
          </div>
        {%- endfor -%}
      </div>
    </div>
  {%- endif -%}
</div>


{% style %}
.testimonials-section{
  padding:34px 0;
}

.testimonials-section--with-divider{
  border-top:1px solid;
  border-top-color:{{ settings.color_borders | default: "#1c1d1d" }};
  border-top-color:var(--colorBorder);
}

.testimonials-section{
    padding:100px 0;
  }

  @media only screen and (min-width:590px){

.testimonial-stars{
    font-size:18px;
    margin-bottom:15px
}
  }

.testimonials-slide{
  display:none;
  /* opacity:0; */
  padding:40px 0 55px;
  width:33%
}

.testimonials-slide:first-child{
    display:block;
  }


.testimonials-slide .testimonials-slider__text{
    transform:scale(0.95);
    transition:transform 0.5s ease,box-shadow 0.5s ease;
  }

.testimonials-slide.is-selected .testimonials-slider__text{
    transform:scale(1.1);
    box-shadow:0 10px 25px rgba(0, 0, 0, 0.1);
    position:relative;
    z-index:10;
  }

@media only screen and (max-width:589px){
    .testimonials-slide{
      width:100%;
    }

    .testimonials-slide .testimonials-slider__text{
      transform:scale(0.86);
    }

    .testimonials-slide.is-selected .testimonials-slider__text{
      transform:scale(1);
    }
  }

.testimonials-slider__text{
  margin:0 30px;
  padding:30px 20px;
  background:{{ settings.color_body_bg | default: "#ffffff" }};
  background:var(--colorBody);
  color:{{ settings.color_body_text | default: "#1c1d1d" }};
  color:var(--colorTextBody);
  margin-bottom:20px
}

@media only screen and (min-width:590px){

.testimonials-slider__text{
    margin:0;
    padding:30px;
    margin-bottom:0
}
  }

.testimonials-slider__text cite{
    font-family:var(--typeHeaderPrimary),var(--typeHeaderFallback);
    font-weight:var(--typeHeaderWeight);
    letter-spacing:var(--typeHeaderSpacing);
    line-height:var(--typeHeaderLineHeight)
  }

[data-type_header_capitalize=true] .testimonials-slider__text cite{
    text-transform:uppercase
  }

.testimonials-slider__text cite{
    font-style:normal
  }

@media only screen and (min-width:590px){

.testimonials-slider__text cite{
      font-size:calc(var(--typeBaseSize) + 1px)
  }
    }

.testimonials-slider__text p{
    margin-bottom:10px
  }

.testimonials-slider__text p+cite{
      margin-top:0;
    }

.testimonail-image{
  max-width:142px;
  background-color:{{ settings.color_body_bg | default: "#ffffff" }};
  background-color:var(--colorBody);
  margin-bottom:20px
}

.text-center .testimonail-image{
    margin-left:auto;
    margin-right:auto
}

.testimonail-image--round{
  width:65px;
  height:65px;
  max-width:none;
  border-radius:65px
}

.testimonail-image--round img{
    overflow:hidden;
    border-radius:65px;
  }

.testimonial-meta{
  margin-top:30px
}

.testimonial-meta cite:before{
    content:"";
  }

.testimonial-meta p{
    font-size:calc(var(--typeBaseSize) - 1);
    margin:5px 0 0
  }

@media only screen and (min-width:590px){

.testimonial-meta p{
      font-size:var(--typeBaseSize)
  }
    }



{% endstyle %}
{% schema %}
  {
    "name": "Customer testimonials",
    "max_blocks": 9,
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Don't take our word for it"
      },
      {
        "type": "checkbox",
        "id": "round_images",
        "label": "Circular images",
        "default": true
      },
      {
        "type": "color",
        "id": "color_background",
        "label": "Background",
        "default": "#f9f9f9"
      },
      {
        "type": "color",
        "id": "color_text",
        "label": "Text",
        "default": "#1c1d1d"
      }
    ],
    "blocks": [
      {
        "type": "testimonial",
        "name": "Testimonial",
        "settings": [
          {
            "type": "select",
            "id": "icon",
            "label": "Icon",
            "default": "5-stars",
            "options": [
              {
                "value": "none",
                "label": "None"
              },
              {
                "value": "quote",
                "label": "Quote"
              },
              {
                "value": "5-stars",
                "label": "5 stars"
              },
              {
                "value": "4-stars",
                "label": "4 stars"
              },
              {
                "value": "3-stars",
                "label": "3 stars"
              },
              {
                "value": "2-stars",
                "label": "2 stars"
              },
              {
                "value": "1-star",
                "label": "1 star"
              }
            ]
          },
          {
            "type": "richtext",
            "id": "testimonial",
            "label": "Text",
            "default": "<p>Add customer reviews and testimonials to showcase your store’s happy customers.</p>"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Author's image"
          },
          {
            "type": "text",
            "id": "author",
            "label": "Author",
            "default": "Author name"
          },
          {
            "type": "text",
            "id": "author_info",
            "label": "Author info",
            "default": "Los Angeles, CA"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Customer testimonials",
        "blocks": [
          {
            "type": "testimonial"
          },
          {
            "type": "testimonial"
          },
          {
            "type": "testimonial"
          },
          {
            "type": "testimonial"
          },
          {
            "type": "testimonial"
          }
        ]
      }
    ]
  }
{% endschema %}

<script>
    $(document).on('ready', function () {
        $('.testimonials-slider').slick({
            
            dots: true,
            {% comment %} infinite: true, {% endcomment %}
            slidesToShow: 2,
            slidesToScroll: 1,
            arrows: false,
            autoplay: true,
            autoplaySpeed: 3000,
            
            responsive: [
             
                {
                  breakpoint: 1200,
                  settings: {
                    arrows: false,
                    slidesToShow: 2,
                    slidesToScroll: 1,
                    infinite: true,
                    dots: true
                  }
                },
                {
                  breakpoint: 600,
                  settings: {
                    arrows: false,
                    slidesToShow: 1,
                    slidesToScroll: 1,
                    infinite: true,
                    dots: true
                  }
                }
                
                // You can unslick at a given breakpoint now by adding:
                // settings: "unslick"
                // instead of a settings object
              ]
        });
    });
  </script>